@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&family=Roboto+Slab&display=swap');
:root{
    --common-color:
    #f9690e;
    --mobile_head_size:2rem;
    --mobile_text_size:1.25rem;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #000;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #000;
}

.li{
    position: relative;
}
.center::after{
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: var(--common-color);
    right: 0;
    
    transform: scale(0,1);
    transition: .3s;

}
.nav-link{
    font-size: 18px;
    font-weight: 600;
    
}
.nav-item{
    padding-left: .675rem;
}
.center:hover::after{
   transform: scale(1,1);
}
.menu_border{
    border-bottom: 3px solid var(--common-color);
   
}
.dropdown-item:hover{
    background-color: var(--common-color);
    color: #fff;
    font-weight: 600;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    background-color: #f4f4f4 !important;
}


.color_head{
    color: var(--common-color);
}


.banner{
    margin-top: 8rem;
    
}
.banner_header{
    font-size: 2.5rem;
    line-height: 3.125rem;
}
.banner_img{
    margin-top: 5rem;
}
.banner_text{
    font-size: 1.3rem;
    margin-top: 2rem;
    line-height: 30px;
}


/* services */
.our_services{
    margin-top: 22rem;
    text-align: center;
}
.services_p{
    text-align: center;
    margin-left: 7rem;
    margin-right: 7rem;
    font-size: 1rem;
    line-height: 28px;
}
.services_part{
    margin-top: 4rem;
}

.services_part_text{
    margin-top: 220px;
    margin-left: 2rem;
}
.services_part_header{
    color: var(--common-color);
    font-weight: 700;
    margin-bottom: 1rem;
}
.services_part_p{
    word-spacing: 5px;
}


.services_part_web{
    margin-top: 220px;
    margin-right: 2rem;
}
.see_more_btn{
    background-color: var(--common-color) !important;
    border: none;
}
.news_seemore{
    background-color: var(--common-color);
    color: #fff;
    font-weight: 550;
    padding: 10px;
    border-radius: 5px;
    transition: .2s;
}

.news_seemore:hover{
    color: var(--common-color);
    background-color: #fff;
    border: 1px solid var(--common-color);
}
.offer_p{
    font-size: 1rem;
    line-height: 28px;
    text-align: justify;
}
.key_client{
    margin-top: 100px;
}
.contact_us{
    background-color: #f8f9fa;
    padding-bottom: 40px;
    
    margin-top: 8rem;
    position: relative;
}
.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.want{
    
    padding-top: 10rem;
}
.want_text{
    font-size: 70px;
}
.footer{
    background-color: dimgray;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
}
.contact_form{
    padding-top: 5rem;
}

















.job_title{
    color: #000;
}
.job_title:hover{
    color: var(--common-color);
}
.title_skill{
    color: #283593;
}
.apply{
    margin-top: 0px;
}

.about_section{
    margin-top: 3rem;
    
}
.about_us_header{
    font-size: 70px;
    text-align: center;
    border-right: 2px solid #ad4b0e;
}
.about_us_p{
    line-height: 30px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    text-align: justify;
}
.benefits{
    margin-top: 150px;
}
.about_us_icon{
    font-size: 3rem;
}
.about_us_team{
    margin-left: 55px;
    
}
.contact_us_icon{
    font-size: 32px;
}
.call {
    margin-top: 14px;
    margin-left: 12px;
}
.contact_number {
    margin-left: 43px;
    font-size: 18px;
}
.second_contact{
    margin-top: 40px;
    
}
@media screen and (max-width:767px){
    .menu_border{
        width: 30%;
    }
    .center{
        width: 30%;
        
    } 
    .banner{
        margin-top: 1rem;
    } 
    .banner_header{
        font-size: var(--mobile_head_size);
        line-height: 2.5rem;
    }
    .banner_text{
        font-size: 18px !important;
        margin-top: 15px;
        
    }
    .our_services{
        margin-top: 7rem !important;
    }
    .services_p{
        text-align: left;
        margin-left: 0;
        margin-right: .675rem;
        text-align: justify;
        font-size: 16px;
    }
    .offer_p{
        font-size: 1rem;
        line-height: 28px;
        text-align: justify;
    }
    .services_part_text{
        margin-top: 2rem;
    }
    .services_part_web_phn{
        margin-top: -170px;
        margin-left:34px
    }
    .services_part_web_phn_text{
        margin-left:34px
    }
    .client{
        font-size: 2.2rem;
    }
    .key_client{
        margin-top: 2rem;
        font-size: 2.2rem;
    }
    
    .want{
    
        padding-top: 20px;
    }
    .want_text{
        font-size: 48px;
    }
    .contact_form{
        padding-top: 3rem;
    }
    .title{
        margin-top: -36px;
    }
    .about_us_header{
        font-size: 48px;
        border-right: none;
    }
    .benefits{
        margin-top: 0;
    }
}


  

@media screen and (min-width:768px) and (max-width:1023px){
    .menu_border{
        width: 20%;
    }
    .center{
        width: 20%;
        
    }   
    .banner{
        margin-top: 1rem;
    }
    .banner_header{
        font-size: var(--mobile_head_size);
        line-height: 2.5rem;
    }
    .banner_text{
        font-size: 18px !important;
        margin-top: 15px;
        
    }
    .banner_img{
        margin-top: 2rem;
    }
    .our_services{
        margin-top: 10rem !important;
    }
    .services_p{
        text-align: left;
        margin-left: 0;
        margin-right: .675rem;
        text-align: justify;
        font-size: 16px;
    }
    .services_part_tab{
        margin-top: 70px;
        text-align: justify;
    }
    .services_part_tab_header{
        font-size: 22px;
    }
    .services_part_tab_text{
        font-size: 14px;
    }
    .client{
        font-size: 2.2rem;
    }
    .contact_us {
        
        padding-bottom: 30px;
    }
    .want{
    
        padding-top: 72px;
    }
    .want_text{

        font-size: 56px;
    }
    .contact_form{
        
        padding-top: 30px;
    }
    .about_us_p{
        margin-top: 0;
        font-size: 16px;
        
    }
    .about_us_header{
        margin-top: 10px;
    }
   
}


@media screen and (min-width:1024px) and (max-width:1199px){
    .want{
        padding-top: 150px;
    }
    .want_text{
        font-size: 55px;
    }
    .contact_form{
        padding-top: 30px;
    }
    .about_us_p{
        margin-top: 20px;
        font-size: 16px;
        
    }
}

@media screen and (min-width:1200px) and (max-width:1920px){
    .contact_form{
        padding-top: 30px;
    }
    .want{
        padding-top: 110px;
    }
    .title{
        margin-top: -40px;
    }
}